<div class="row">
  <div class="col-8 bg-light round m-auto pb-3 shadow-sm">
    <div class="flat-form">
      <h1 class="m-3 text-center">Ajouter un nouveau bien</h1>
      <div class="mt-3">
        <%= render "shared/form_flat" %>
      </div>
    </div>
  </div>
</div>
