<nav class="sticky-top navbar navbar-light bg-light border-bottom rounded-bottom mb-3">
  <%= link_to 'Simple Airbnb', root_path, class: 'navbar-brand px-3' %>
  <div class="navbar-nav nav-item active">
   <%= link_to 'Ajouter un élément', new_flat_path, class:'nav-link nav-item active px-3' %>
  </div>
</nav>
